## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docuser

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Published
publish/

## Misc
*.sql
*.cache
*.dbmdl
*.jfm
